<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP-z3jKLB2eYW8HP--uitkNGxLA9u5NLo&libraries=places&callback=initAutocomplete"></script>

<%= form_for @property, html: {class: 'form-style'} do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode, class: 'form-control',id:'postal_code' %>
  </div>
   <%= f.label :Location %><br>
 <div id="locationField">
            <%= f.text_field :location_name, placeholder: 'Location', class: 'form-control', id: 'autocomplete', onFocus: "geolocate()", input_html: {value: f.object.try(:location).try(:address)}  %>
          </div>

 <!--  <div class="field">
    <%#= f.label :region %><br>
    <%#= f.text_field :region, class: 'form-control', id: 'autocomplete', onFocus: "geolocate()" %>
  </div> -->
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :property_type_id %><br>
    <%= f.text_field :property_type_id, class: 'form-control' %>

  </div>
  <%= f.simple_fields_for :specification do |s| %>
    <h4>Area</h4>
    </br>
    <div class="row">
      <div class="form-group">
        <%= s.label :super_builtup, 'Super Built-up Area', class: "col-sm-4" %>
        <div class="col-sm-5">
          <%= s.text_field :super_builtup, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= s.select(:super_builtup_unit, Unit.all.collect {|u| [u.name, u.id]}) %>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :builtup, 'Built-up Area', class: "col-sm-4" %>
        <div class="col-sm-5">
          <%= s.text_field :builtup, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= s.select(:builtup_unit, Unit.all.collect {|u| [u.name, u.id]}) %>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :carpet, 'Carpet Area', class: "col-sm-4" %>
        <div class="col-sm-5">
          <%= s.text_field :carpet, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= s.select(:carpet_unit, Unit.all.collect {|u| [u.name, u.id]}) %>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Transaction Type, Property Availabilty</h4>
      </br>
      <div class="form-group">
        <%= s.label :transaction_type, 'Transaction Type', class: "col-sm-4" %>
        <div class="col-sm-8">
          <label class="checkbox-inline">
            <%= s.radio_button(:transaction_type, "new") %>
            New Property
          </label>
          <label class="checkbox-inline">
            <%= s.radio_button(:transaction_type, "resale") %>
            Resale
          </label>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :possession_status, 'Possession Status', class: "col-sm-4" %>
        <div class="col-sm-8">
          <label class="checkbox-inline">
            <%= s.radio_button(:possession_status, "under_contruction") %>
            Under Construction
          </label>
          <label class="checkbox-inline">
            <%= s.radio_button(:possession_status, "ready_to_move") %>
            Ready to Move
          </label>
        </div>
      </div>
      <div class="form-group">
        <%= s.label :construction_age, 'Age of Construction', class: "col-sm-4" %>
        <div class="col-sm-8">
          <%= s.select(:construction_age, Unit.all.collect {|u| [u.name, u.id]}) %>
        </div>
      </div>
    </div>
  <% end %>
  </br>
  <h3>Select Amenities for property</h3>
<% for amenity in Amenity.all %>
<div>
<%= check_box_tag "property[amenity_ids][]", amenity.id, @amenity.try(:include?, amenity.id) %>
<%= amenity.name %>
</div>
<% end %>

<h3>Select Flooring for property</h3>
<% for flooring in Flooring.all %>
<div>
<%= check_box_tag "property[flooring_ids][]", flooring.id, @flooring.try(:include?, flooring.id) %>
<%= flooring.name %>
</div>
<% end %>

<h2>property images </h2>
<div class="panel panel-default" style="width: 500px; padding: 10px; margin: 10px">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#exterior" aria-controls="exterior" role="tab" data-toggle="tab">
                Exterior View </a></li>
            <li><a href="#livingroom" aria-controls="livingroom" role="tab" data-toggle="tab">Living Room </a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="exterior">
            <div id="property_image">
              <%= f.fields_for :property_images do |task| %>
                <%= render partial:'property_images_fields',locals: {f:task,:@title =>"exterior"} %>
                  <div class="links">
                    <%=  link_to_add_association 'add images', f, :property_images, partial: 'property_images_fields' %>
                  </div>
              <% end %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="livingroom">
              <div id="property_image">
                <%= f.fields_for :property_images do |task| %>
                  <%= render partial:'property_images_fields',locals: {f:task,:@title =>"livingroom"} %>
                    <div class="links">
                      <%=  link_to_add_association 'add images', f, :property_images, partial: 'property_images_fields' %>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

 <%#= f.fields_for :property_images do |propertyimage| %>
<!--
   <div class="room_category_fields">

     <div class="field">

       <%#= propertyimage.label :name %><br>

       <%#= propertyimage.text_field :title %>

        <%#= propertyimage.file_field :photo %>
     </div>

   </div>
 -->
 <%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
