<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode, class: 'form-control',id:'postal_code' %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region, class: 'form-control', id: 'autocomplete', onFocus: "geolocate()" %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :property_type_id %><br>
    <%= f.text_field :property_type_id, class: 'form-control' %>

  </div>
  <h3>Select Amenities for property</h3>
<% for amenity in Amenity.all %>
<div>
<%= check_box_tag "property[amenity_ids][]", amenity.id, @amenity.try(:include?, amenity.id) %>
<%= amenity.name %>
</div>
<% end %>

<h3>Select Flooring for property</h3>
<% for flooring in Flooring.all %>
<div>
<%= check_box_tag "property[flooring_ids][]", flooring.id, @flooring.try(:include?, flooring.id) %>
<%= flooring.name %>
</div>
<% end %>

 <h2>property images </h2>
  <div id="property_image">
    <%= f.fields_for :property_images do |task| %>
      <%= render 'property_images_fields', f: task %>
        <div class="links">
          <%=  link_to_add_association 'add images', f, :property_images, partial: 'property_images_fields' %>
        </div>
    <% end %>
  </div>

 <%#= f.fields_for :property_images do |propertyimage| %>
<!--
   <div class="room_category_fields">

     <div class="field">

       <%#= propertyimage.label :name %><br>

       <%#= propertyimage.text_field :title %>

        <%#= propertyimage.file_field :photo %>
     </div>

   </div>
 -->
 <%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
