<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @property.pincode %>
</p>

<p>
  <strong>Region:</strong>
  <%= @property.region %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>
<strong>Amenities:</strong>
  <% @property.amenities.each do |g| %>
  <ul>
  <li><%= g.name %></li>
  </ul>
  <% end %>
<p>

</p>
<p>
  <strong>Property Images:</strong>
  <% @property.property_images.each do |g| %>
  <ul>
  <li><%= g.title %></li>
  <%=image_tag g.photo.url, height: '160',width: '120' %>
  </ul>
  <% end %>
</p>
<% if current_admin %>
<%= link_to 'Edit', edit_property_path(@property) %>
<%= link_to 'Back', properties_path %>
<% end %>