<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @product.pincode %>
</p>

<p>
  <strong>Region:</strong>
  <%= @product.region %>
</p>

<p>
  <strong>Area:</strong>
  <%= @product.area %>
</p>

<p>
  <strong>Address:</strong>
  <%= @product.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>
<strong>Amenities:</strong>
  <% @product.amenities.each do |g| %>
  <ul>
  <li><%= g.name %></li>
  </ul>
  <% end %>
<p>

</p>
<p>
  <strong>Producttype:</strong>
  <%#= @product.product_type.name %>
</p>
<% if current_admin %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
<% end %>